@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --blue-color:  rgba(46, 67, 113, 1);
    --font-playfair: 'Playfair Display', serif;
    --font-poppins: 'Poppins', sans-serif;
    --hr-color: rgb(0, 0, 0);
}


body {
    background: lightgray;
    min-height: 100vh;
}



/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}




/* MOBILE FIRST  */







/* HEADER  */

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: #fff;
    padding: 10%;
}

main {
    margin-bottom: 2em;
}

header {
    height: 80px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 0;
    background: white;
    z-index: 999;
}

.hd-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    font-size: 1.2rem;
    margin: 1em;
    padding: 0;
}

.logo-container {
    width: 135px;
    margin: 1em;
}

.logo-container img {
    width: 100%;
}

nav, nav ul, nav li, nav a {
    background: white; 
}

nav {
    width: 100%;
    position: absolute;
    top: 80px;
    border-top: 1px gray solid;
    height: 100vh;
    margin: 0;
    left: 0;
    display: none;
}

.nav-close {
    width: 100%;
    position: absolute;
    top: 80px;
    border-top: 1px gray solid;
    height: 100vh;
    margin: 0;
    left: 0;
    display: inline-block;
}

nav ul{
    list-style-type: none;
    margin: 1em auto;
    width: 90%;
}

nav li {
    border-top: 1px lightgray solid;
    text-align: center;
    width: 100%;
    padding: 1em 0;
}

nav a {
    width: 90%;
    text-decoration: none;
    color: gray;
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 500;
}



.current-page {
    color: var(--blue-color);
}

.nav-links li:first-child {
    border: none;
}




.dropbtn {
    color: var(--blue-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin: 0 auto;
    gap: 20px;    
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(143, 113, 113, 0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: white;
}
  
.dropdown-content a:hover {
    background-color: white; 
    border: none;
    color: var(--blue-color);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.drp:hover {
    border: none;
}



@media screen and (min-width: 900px) {
    .container {
        padding: 10%;
    }

    /* HEADER  */
    .nav-toggle {
        display: none;
    }    


    nav {
        display: block;
        border: none;
        position: relative;
        top: 0;
        width: fit-content;
        margin-right: 1em;
        height: inherit;
    }

    .nav-close {
        display: block;
        border: none;
        position: relative;
        top: 0;
        width: fit-content;
        margin-right: 1em;
        height: inherit;
    }

    nav ul {
        display: flex;
        padding: 0; 
        margin: 0;
    }

    nav li {
        margin: 0;
        margin-left: 2em;
        border: none;
    }

    nav a {
        font-size: 0.77rem;
        font-weight: 500;
        color: var(--blue-color);
        padding: 0;
        letter-spacing: 1.5px;
        padding-bottom: 0.3em;
    }

    .current-page, nav a:hover {
        border-bottom: 1px solid var(--blue-color);
    }


    

    .dropbtn {
        color: var(--blue-color);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        background: white;
    }
      
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(143, 113, 113, 0.2);
        z-index: 1;
    }
      
      /* Links inside the dropdown */
    .dropdown-content a {
        color: gray;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background: white;
        width: 100%;
    }
      
    .dropdown-content a:hover {
        background-color: white; 
        border: none;
        color: var(--blue-color);
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }
      
    .drp:hover {
        border: none;
    }
}



















/* HERO SECTION  */

.hero-section {
    height: 350px;
    max-height: 100vh;
    background-image: url(hero-bg.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
}

.hero-section .text-bg {
    position: relative;
    top: 80px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-section .text {
    color: white;
    font-size: 2.8rem;
    font-weight:300;
    font-family: 'Cormorant Garamond', serif;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    padding: 0.5em 0;
    margin: 0.5em;
}

@media only screen and (min-width: 600px) {
    .hero-section {
        height: 450px;
    }

    .hero-section .text-bg {
        height: 370px;
    }

    .hero-section .text {
        font-size: 4rem;
    }
}

@media screen and (min-width: 900px) {
    .hero-section {
        height: 100vh;
    }

    .hero-section .text {
        font-size: 4.6rem;
        padding: 0.3em 0;
    }
}

@media screen and (min-width: 1200px) {

    .hero-section .text-bg {
        height: 90%;
    }

    .hero-section .text {
        font-size: 6rem;
    }
}














/* MAIN  */




/* ORDER  */

.order-text-content {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    padding-top: 2.5em;
}

.tenyrs {
    font-family: var(--font-playfair);
    color: rgb(150, 132, 0);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.4em;
}

.lg-one {
    font-size: 4rem;
}

.authentic {
    font-family: var(--font-playfair);
    font-size: 1.8rem;
    margin-bottom: 1.7em;
}

.corner {
    margin-bottom: 1.5em;
}

.hr-color {
    border: 1px solid brown;
    width: 70px;
    margin-bottom: 1.5em;
}

.cuisine {
    font-weight: 600;
    font-family: var(--font-poppins);
    margin-bottom: 1.6em;
}


.enjoy {
    font-size: 2rem;
    font-weight: 600;
}


.hr {
    width: 100%;
    border-top: 1px var(--hr-color) solid;
    margin: 2em 0;
}




@media screen and (min-width: 640px) { 
    .container {
        padding: 5%;
    }

    .tenyrs {
        margin-top: 0.3em;
        font-size: 5rem;
    }

    .lg-one {
        font-size: 6.2rem;
    }

    .authentic {
        font-size: 3rem;
    }

    .corner {
        font-size: 1.6rem;
    }

    .cuisine {
        font-size: 1.1rem;
    }

    .enjoy {
        font-size: 2.2rem;
    }

    .hr-color {
        margin-bottom: 2.3em;
    }
}
@media screen and (min-width: 400px) {

    .container {
        padding-top: 3em;
    }
}


@media screen and (min-width: 900px) {
    .container {
        padding-top: 4em;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding-top: 5em;
    }
}




















/* Reservation call order  */

.rco-img-con {
    display: inline-block;
    border: 1px solid white;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
}
.rco-img-con img {
    display: block;
    transition: transform .4s;   /* smoother zoom */
}
.rco-img-con:hover img {
    transform: scale(1.15);
    transform-origin: 50% 50%;
}



.rco-img-con {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

.rco-img-con img {
    width: 100%;
    border-radius: 50%;
}


.rco {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5em;
}



.rco a {
    font-family: var(--font-playfair);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 400;
}


.res p {
    color: brown;
}


.call p {
    color: var(--blue-color);
}


.order p {
    color: red;
}


@media screen and (min-width: 410px) {
    .rco {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width :530px) {
    .rco {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-evenly;
        gap: 10%;
    }

    .hr {
        margin: 3em 0;
    }
}

.rco {
    margin-bottom: 3em;
}

@media screen and (min-width: 1200px) {
    .rco-img-con {
        width: 130px;
    }

    .rco a {
        font-size: 1.2rem;
    }
}











/* BUTTONS  */


.single-btn {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns button {
    font-size: 1rem;
    font-family: var(--font-poppins);
    color: white;
    background: black;
    border: none;
    padding: 1em;
    width: 100%;
    cursor: pointer;
}

.btns a {
    margin-bottom: 3em;
}

.btns a {
    width: 100%;
}


.btns button:hover, .btns button:active {
    background: var(--blue-color);
}

@media screen and (min-width: 320px) {
    .btns a {
        width: 200px;
    }
}
@media screen and (min-width: 530px) {
    .btn-container {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10%;
    }
    .rco {
        margin-bottom: 3.5em;
    }

    .btn-container a {
        width: 30%;
    }
}

@media screen and (min-width: 750px) {
    .btn-container a {
        width: 25%;
    }
}

@media screen and (min-width: 900px) {
    .btn-container a {
        width: 20%;
    }
}

@media screen and (min-width: 1200px) {
    .btns {
        margin-top: 5em;
        margin-bottom: 1.5em;
    }
    .btns button {
        font-size: 1.1rem;
    }
    .single-btn a {
        width: 22%;
        margin-bottom: 5em;
    }
}

















/* FOOD IMAGES  */



.food-img-container {
    display: inline-block;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
}
.food-img-container img {
    display: block;
    transition: transform .5s;   /* smoother zoom */
}
.food-img-container:hover img {
    transform: scale(1.15);
    transform-origin: 50% 50%;
}



.food-img-container {
    width: 100%;
    min-width: 150px;
}

.food-img-container img {
    width: 100%;
}

.food-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-bottom: 1em;
}


@media screen and (min-width: 370px) { 
    .food-imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        gap: 1em;
    }
}


@media screen and (min-width: 700px) { 
    .food-imgs {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-bottom: 2em;
    }
}


@media screen and (min-width: 900px) {
    .food-imgs {
        padding-bottom: 2.5em;
    }
}


















/* RICE CONTAINER */

.rice .img-con {
    display: inline-block;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
}
.rice .img-con img {
    display: block;
    transition: transform .4s;   /* smoother zoom */
}
.rice .img-con:hover img {
    transform: scale(1.2);
    transform-origin: 50% 50%;
}



.rice {
    background-image: url(bl.jpg);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center; 
}

.rice h1 {
    font-family: var(--font-playfair);
    color: brown;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 2em;
}

.rice h1 span {
    font-weight: 900;
    font-size: 1.1rem;
}

.rice h2 {
    font-family: var(--font-poppins);
    font-style: italic;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.rice h2 span {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
}

.rice .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rice .img-con {
    width: 100%;
    margin-bottom: 1.5em;
}

.rice .img-con:hover {
    cursor: pointer;
}

.rice .img-con img {
    width: 100%;
}

.rice .content {
    text-align: left;
}

.rice .paragraph {
    font-size: 1.3rem;
    line-height: 1.5em;
    font-family: var(--font-playfair);
    margin-bottom: 1em;
}

.rice .tag {
    font-size: 1.2rem;
    color: var(--blue-color);
    font-family: var(--font-playfair);
    font-weight: 700;
    margin-bottom: 4em;
}

.rice .photos {
    font-size: 2rem;
    color: brown;
    margin-bottom: 2em;
    font-weight: 600;
}

.rice {
    padding-top: 3em;
}

@media screen and (min-width: 400px) {
    .rice {
        margin-top: 1.7em;
    }
}

@media screen and (min-width: 600px) {
    .rice {
        margin-top: 2.5em;
        padding-top: 4.4em;
    }

    .rice .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2em;
    }

    .rice .text {
        width: 100%;
    }

    .rice h2 {
        margin-bottom: 1.2em;
    }
}

@media screen and (min-width: 640px) {
    .rice {
        padding-top: 6.5em;
    }
    .rice h1 {
        font-size: 2rem;
        line-height: 0;
    }

    .rice h1 span {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 810px) {
    .rice .paragraph {
        font-size: 1.4rem;
    }
    .rice .tag {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 900px) {
    .rice {
        margin-top: 4em;
        padding-top: 8em;
    }

    .rice .content {
        gap: 3em;
    }
}

@media screen and (min-width: 1200px) {
    .rice {
        margin-top: 6em;
        padding-top: 10em;
    }

    .rice h1 {
        font-size: 2.1rem;
    }
    .rice h1 span {
        font-size: 2.3rem;
    }

    .rice h2 {
        font-size: 1.7rem;
    }

    .rice h2 span {
        font-size: 2rem;
    }

    .rice .photos {
        font-size: 2.4rem;
    }
    .rice .content {
        gap: 4em;
    }
}





















/* CONCTACT SECTION  */


.main .icon-con {
    display: inline-block;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
}
.main .icon-con img {
    display: block;
    transition: transform .4s;   /* smoother zoom */
}
.main .icon-con:hover img {
    transform: scale(1.15);
    transform-origin: 50% 50%;
}





.contact-sec {
    background: rgb(248, 236, 227);
    padding: 0;
}

.main {
    padding: 10%;
}

.main .contact h1, .main .timing h1 {
    font-size: 2rem;
    color: brown;
    margin-bottom: 1em;
}

.main .contact {
    text-align: left;
    margin-bottom: 4em;
}

.main .contact h3 {
    font-size: 1rem;
    margin-bottom: 1em;
}

.main address {
    font-style: normal;
}

.main .contact .street {
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.main .contact h2 {
    font-size: 1rem;
    color: brown;
    font-family: var(--font-playfair);
    margin-bottom: 1.1em;
}


.main .contact .phone, .main .contact .write {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1em;
    word-wrap: break-word;
}

.main .contact {
    margin-bottom: 3em;
}

.main .timing {
    text-align: center;
}

.main .timing h2 {
    font-size: 1.5rem;
    font-family: var(--font-poppins);
    font-weight: 500;
    margin-bottom: 0.5em;
}


.main .timing h3 {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 1.1em;
}

.main .timing .margin {
    margin-bottom: 1.5em;
}

.main .timing .book {
    color: white;
    background: goldenrod;
    border: none;
    padding: 1em;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-poppins);
    width: 100%;
    margin-bottom: 2em;
}

.main .timing .book:hover {
    background: rgb(206, 141, 89);
    cursor: pointer;
}


.main .eat-links h2 {
    font-family: var(--font-poppins);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 2em;
    word-wrap: break-word;
}

.main .eat-links h2 a {
    color: black;
}

.eat-links .icon-con , .eat-links .icon-con img {
    width: 100%;
}

.eat-links .icon-con {
    margin-bottom: 2.5em;
}

.hr-contact2, .hr-contact1{
    border-top: 1px var(--hr-color) solid;
    width: 100%;
    margin-bottom: 2.3em;
}



.main .followus h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.main .followus p {
    font-size: 1.1rem;
    font-family: var(--font-poppins);
    font-weight: 500;
    margin-bottom: 2em;
}


.main .followus .privacy {
    font-size: 1rem;
    font-family: var(--font-playfair);
    color: RGB(210, 162, 112);
}

.main .sm button {
    color: black;
    border: 2px solid RGB(210, 162, 112);
    font-size: 1rem;
    font-family: var(--font-poppins);
    font-weight: 100;
    padding: 1em;
    width: 100%;
    background-color: transparent;
}

.main .sm  .btn-news {
    margin: 3em 0;
}


.main .sm button:hover {
    border: 2px solid gray;
    color: RGB(210, 162, 112);
    cursor: pointer;
}

.main .sm .sm-icons .icon {
    color: brown;
    font-size: 4rem;
}

.main .sm-icons {
    display: flex;
    justify-content: space-between;
}

.main .sm {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;

}


.map iframe {
    width: 100%;
    height: 300px;
}

@media screen and (min-width: 320px) {
    .main .timing .book {
        width: 220px;
    }

    .main .sm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .sm-icons {
        display: flex;
        justify-content: space-between;
        gap: 3em;
    }

    .main .sm button {
        width: 220px;
    }

    .main .eat-links {
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .main .eat-links .eat-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .eat-links .icon-con {
        max-width: 200px;
    }
}

@media screen and (min-width: 380px) {
    .contact-sec {
        margin-top: 1.5em;
    }
}

@media screen and (min-width: 500px) {
    .main .eat-links .icon-con {
        margin-bottom: 0;
    }
    .main .eat-links .eat-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
    }

    .main .sm .sm-icons {
        justify-content: space-evenly;
        gap: 5em;
    }

    .hr-contact2 {
        margin-top: 3em;
    }
    .map iframe{
        height: 200px;
    }
}

@media screen and (min-width: 600px) {

    .contact-sec {
        margin-top: 2.7em;
    }

    .main {
        padding: 5%;
    }

    .main .cont-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;               
    }

    .main .hr-contact1 {
        display: none;
    }

    .main .eat-links .eat-icons {
        display: flex;
        flex-direction: row;
        gap: 10%;
        width: 500px;
    }

    .main .sm .sm-icons {
        justify-content: space-evenly;
        gap: 2em;
    }

    .main .followus {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }


}

@media screen and (min-width: 700px) {
    .main .eat-links .eat-icons {
        justify-content: space-between;
        gap: 25%;
        min-width: 600px;
    }
}


@media screen and (min-width: 900px) {
    .contact-sec {
        display: flex;
        justify-content: space-between;
        margin-top: 4em;
    }

    .main .cont-time {
        justify-content: space-evenly;
        gap: 0;
    }

    .map {
        width: 30%;
    }
    
    .map iframe {
        width: 100%;
        height: 100%;
    }

}


@media screen and (min-width: 1200px) {
    .contact-sec {
        margin-top: 5.5em;
    }

    .main {
        padding-top: 4em;
    }

    .main .contact h1, .main .timing h1 {
        font-size: 2.2rem;
    }

    .main .timing h2 {
        letter-spacing: 1px;
        font-weight: 600;
    }

    
}












/* FOOTER  */

footer {
    background: black;
    width: 100%;
    max-width: 1100px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    font-size: 0.8rem;
    font-family: var(--font-playfair);
    color: rgba(255, 255, 255, 0.7);

}